{% extends 'mainapp/temp.html' %}
{% block content %}
<div class="col-lg-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Table with contextual classes</h4>
        <a href= "{%  url "mentor_c" %}" >
          Add Mentor
        </a>
        <div class="table-responsive pt-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  Full name
                </th>
                <th>
                 Birth data
                  
                </th>
                <th>
                    gender
                </th>
                <th>
                    email
                </th>
                <th>
                    phone
                </th>
                <th>
                    specification
                </th>
                
                <th>
                  icons
                </th>
              </tr>
            </thead>
            <tbody>
               {%for mentor in mentors%}
               <tr class="table-info">
                <td>
                  {{mentor.full_name}}
                </td>
                <td>
                  {{mentor.birth_date}}
                </td>
                <td>
                  {{mentor.gender}}
                </td>
                <td>
                    {{mentor.email}}
                </td>
                <td>
                    {{mentor.phone}}
                </td>
                <td>
                    {{mentor.specification}}
                </td>
                <td>
                  <a href = "{% url 'mentor_u' mentor.id  %}"
                  <i class = "ti-pencil btn-icon-pren>"></i>
                </a>
                <a href="{% url 'mentor_d' mentor.id  %}">
                  <i class="ti-trash btn-icon-prepend"></i></a>
                </td>
              </tr>
                {%endfor%} 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




{%endblock%}